Saved filter=lfs diff=lfs merge=lfs -text
Binaries filter=lfs diff=lfs merge=lfs -text
Config filter=lfs diff=lfs merge=lfs -text
Content filter=lfs diff=lfs merge=lfs -text
LoonyArtMuseum.sln filter=lfs diff=lfs merge=lfs -text
LoonyArtMuseum.uproject filter=lfs diff=lfs merge=lfs -text
Platforms filter=lfs diff=lfs merge=lfs -text
Build filter=lfs diff=lfs merge=lfs -text
DerivedDataCache filter=lfs diff=lfs merge=lfs -text
Intermediate filter=lfs diff=lfs merge=lfs -text
Source filter=lfs diff=lfs merge=lfs -text
*git filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Skye_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
snow_nomal.uasset filter=lfs diff=lfs merge=lfs -text
T_angel_Bronze_AO_Rough_Metal.uasset filter=lfs diff=lfs merge=lfs -text
T_angel_Bronze_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
T_angel_Bronze_Nomal.uasset filter=lfs diff=lfs merge=lfs -text
T_angel_Corroed-Copper_AO_Rough_Metal.uasset filter=lfs diff=lfs merge=lfs -text
T_angel_Corroded-Copper_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
T_angel_Corroded-Copper_Normal.uasset filter=lfs diff=lfs merge=lfs -text
snow_normal.uasset filter=lfs diff=lfs merge=lfs -text
